@model YurtOtomasyonu.Models.mOgrenci.Ogrenciler


@{
    ViewBag.Title = "Kaydet";
    Layout = "~/Views/ThemeLayout/layout_one_theme.cshtml";
}

<h2>Kaydet</h2>
<hr />
@using (Html.BeginForm())
{

    <div class="input-group">
        <span class="input-group-addon" id="txtAd">Ad</span>

        @Html.TextBoxFor(x => x.Adi, new { @class = "form-control", placeholder = "Öğrenci Adı", aria_describedby = "txtAd" })

    </div>
    <br />
    <div class="input-group">
        <span class="input-group-addon" id="txtSoyad">Soyad</span>

        @Html.TextBoxFor(x => x.Soyadi, new { @class = "form-control", placeholder = "Öğrenci Soyadı", aria_describedby = "txtSoyad" })

    </div>
    <br />
    <div class="input-group">
        <span class="input-group-addon" id="txtTC">TC</span>

        @Html.TextBoxFor(x => x.TC, new { @class = "form-control", placeholder = "TC Kimlik No", aria_describedby = "txtTC" })

    </div>
    <br />
    <div class="input-group">
        <span class="input-group-addon" id="txtTel">Tel</span>

        @Html.TextBoxFor(x => x.Telefon, new { @class = "form-control", placeholder = "Öğrenci Telefon", aria_describedby = "txtTel" })

    </div>
    <br />
    <div class="input-group">
        <span class="input-group-addon" id="txtVeliTel">Veli Tel</span>

        @Html.TextBoxFor(x => x.Veli_Tel, new { @class = "form-control", placeholder = "Veli Telefon No", aria_describedby = "txtVeliTel" })

    </div>
    <br />
    <div class="input-group">
        <span class="input-group-addon" id="txtSinif">Sınıf</span>

        @Html.TextBoxFor(x => x.Kacini_Sinif, new { @class = "form-control", placeholder = "Kaçıncı Sınıf", aria_describedby = "txtSinif" })

    </div>

    <br />
    <div class="input-group">
        <span class="input-group-addon" id="txtUserName">Username</span>

        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", placeholder = "Username", aria_describedby = "txtUserName" })

    </div>

    <br />

    <div class="input-group">
        <span class="input-group-addon" id="txtPassword">Password</span>

        @Html.TextBoxFor(x => x.Password, new { @class = "form-control", placeholder = "Password", aria_describedby = "txtPassword" })

    </div>

    <br />

    <div class="input-group">
        <span class="input-group-addon" id="txtEmail">Email</span>

        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Email", aria_describedby = "txtEmail" })

    </div>

    <br />

    <div class="input-group">
        <span class="input-group-addon" id="txtOdaNo">Oda No</span>

        @Html.TextBoxFor(x => x.oda, new { @class = "form-control", placeholder = "Oda No", aria_describedby = "txtOdaNo" })

    </div>

    <br />

    <div class="input-group">
        <span class="input-group-addon" id="txtAdres">Adres</span>

        @Html.TextBoxFor(x => x.Adres, new { @class = "form-control", placeholder = "Öğrenci Adres", aria_describedby = "txtAdres" })

    </div>

    <br />



    <br />



    <br />
    <div class="input-group">
        <input type="submit" value="Kaydet" class="btn btn-success" />
    </div>
    <br />
    <div class=" input-group-addon" style=" border">
        @if (ViewBag.Result != null)
        {
            <div class="alert alert-@ViewBag.Status" role="alert">
                @ViewBag.Result
            </div>
        }

    </div>
}